$white-color: #FFFFFF;
$dark-space-blue: #00001A;
$light-vemilloin: #F15D51;
$gunmetal:#5E607A;
$yellow: #E9AA52;
$almost-white: #FFFDFA;
$silver: #C5C6CE;


$main-font: "Inter", sans-serif;


$h1-fs-lg: 5.6rem;
$font-weight: 80rem;
$h1-lh-lg: 1;

$h1-fs-sm: 4rem;
$h1-lh-sm: 1;

$h4-fs-sm: 2rem;
$h4-lh-sm: 0.1;

$body-fs-lg: 1.8rem;
$body-lh-lg: 1.6;

$body-fs-sm:  1.5rem;
$body-lh-sm:  1.7;